@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'press';
    src:  url('fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'share';
    src:  url('fonts/ShareTechMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

p {
    @apply hover:cursor-default;
}
